:root {
  --Red-Primary: hsl(0, 78%, 62%);
  --Cyan-Primary: hsl(180, 62%, 55%);
  --Orange-Primary: hsl(34, 97%, 64%);
  --Blue-Primary: hsl(212, 86%, 64%);
  --VeryDarkBlue-Neutral: hsl(234, 12%, 34%);
  --GrayishBlue-Neutral: hsl(229, 6%, 66%);
  --VeryLightGray-Neutral: hsl(0, 0%, 98%);
  --fontSizeP: : 15px;
  --fontFamily: "Poppins", sans-serif;
  --fontWeights200: 200;
  --fontWeights400: 400;
  --fontWeights600: 600;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--VeryDarkBlue-Neutral);
  font-family: var(--fontFamily);

}

main {
  padding: 60px 40px 0;

}

.container {
  margin: 0 auto;
  padding: 0 80px;
}

h1,
h2 {
  color: var(--VeryDarkBlue-Neutral);
  font-weight: var(--fontWeights200);
}

h2 {
  font-size: 18px;
}

p {
  color: var(--VeryDarkBlue-Neutral);
  font-size: var(--fontSizeP);
  line-height: 1.6;
  filter: opacity(50%);
}

img {
  display: block;
  margin-left: auto;
  margin-top: 50px;
}

header {
  margin: auto;
  text-align: center;
  width: 40%;
  padding: 0 20px;
}

h1>span {
  display: block;
  font-weight: var(--fontWeights600);
  margin-bottom: 8px;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0px 50px;
}

.sus-card {
  width: 30%;
  height: 80%;
}

.tab {
  padding: 30px 40px;
  height: 300px;
  border-radius: 5px;
  margin: 50px 0;
  background-color: var(--VeryLightGray-Neutral);
  background-color: #FFFFFF;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.tab h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.tab p {
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.9px;
  width: 89%;
}

.Karma {
  border-top: 5px solid var(--Orange-Primary);
}

.Supervisor {
  border-top: 5px solid var(--Cyan-Primary);
}

.Calculator {
  border-top: 5px solid var(--Blue-Primary);
}

.Builder {
  border-top: 5px solid var(--Red-Primary);
}


@media screen and (max-width: 1100px) {
  .container {
    margin: 0 auto;
    padding: 0 0px;
  }

  main {
    padding: 40px 0px 0;

  }

  .card {
    margin: 0px 0px;
  }

  header {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .card {
    display: grid;
    justify-items: center;
    margin: auto;
  }

  .sus-card {
    width: 70%;
    height: 80%;
  }

  h1 {

    font-size: 25px;

  }
}